<!DOCTYPE html>

<html>
	<head>
		<title>Intro to Programming Work Sessions</title>
		<link href = '/styles/style.css' rel = 'stylesheet'>
	</head>
		<div class="title">
			<h1>Intro to Programming Work Sessions</h1>
			<p><span class="italic" id="plainlink"> An <a href="https://s3.amazonaws.com/content.udacity-data.com/courses/nd000/Student-FacingIPNDTimelineFeb2015.pdf?mkt_tok=3RkMMJWWfF9wsRokuKXIZKXonjHpfsX56uQkXqG%2FlMI%2F0ER3fOvrPUfGjI4DT8ViI%2BSLDwEYGJlv6SgFTLHGMbdlwLgJWBg%3D">ongoing</a> experiential primer in web dev (with <a href="https://docs.google.com/document/d/1SVGYLNm_dx2fc5QU0xRVvVi_9KMXQW7Kb67_vsaph8Y/pub?embedded=true">Office Hours</a>).</span></p>
		</div>
		<!-- Stage 1 -->
		<div class="tab-nav">
			<ul>
				<li><a href="#lesson-1">Stage 1</a></li>
				<li><a href="#lesson-2">Stage 2</a></li>
				<li><a href="#lesson-3">Stage 3</a></li>
				<li><a href="#lesson-4">Stage 4</a></li>
				<li><a href="#lesson-5">Stage 5</a></li>
			</ul>
		</div>
	<body>
		{% block content %}
		{% endblock %}
	</body>
</html>